<div class="row" style="
	background-color:white;
	box-shadow: 1px 1px 5px #ebeced;
    padding: 20px;
    margin: 5px 0px 0px 0px;
    margin-bottom:10px;">
    <div class="row" style="padding: 0px 10px;">
        <h4 style="font-weight:bold;color:#489ee2;border-bottom:1px solid #f1f1f1">精选留言</h4>
        <ol class="list-unstyled" style="padding:0px, 10px;">
              <li style="margin-bottom: 10px;">
                  <div class="media">
                      <div class="media-left">
                        <a href="#" style="width:60px;height:60px;">
                          <img class="media-object" src="{{ current_user.avatar_img }}" class="img-circle" alt="..." style="width:40px;height:40px;">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">这里是留言的作者</h4>
                        这里是留言的内容.
                      </div>
                  </div>
              </li>

              <li style="margin-bottom: 10px;">
                  <div class="media">
                      <div class="media-left">
                        <a href="#" style="width:60px;height:60px;">
                          <img class="media-object" src="{{ current_user.avatar_img }}" class="img-circle" alt="..." style="width:40px;height:40px;">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">这里是留言的作者</h4>
                        这里是留言用来鼓励开发者！
                      </div>
                  </div>
              </li>
        </ol>
    </div>
</div>

