<div class="row" style="
	background-color:white;
	box-shadow: 1px 1px 5px #ebeced;
    padding:5px 20px 0px 20px;
    margin-bottom:10px;">
    <div class="row">
        <h4 style="font-weight:normal;color:#489ee2;border-bottom:1px solid #f1f1f1">关于开发者</h4>
        <ol class="list-unstyled">
              <li><a href="https://www.zhihu.com/">关注知乎</a></li>
              <li><a href="https://www.weibo.com/">关注微博</a></li>
              <li><!-- Button trigger modal -->
            <a data-toggle="modal" data-target="#myModal" href="javascript:void()">
              打赏支持
            </a></li>
        </ol>
    </div>
</div>