<div class="blog-post" id = 'recommend_content' style="
background-color:#ffffff;
padding:30px;
margin-top:-50px;
padding-top:5px;
padding-bottom:0px;
box-shadow: 1px 1px 5px #ebeced;">

</div>
<br>


<div class="row" style="margin-bottom:0px;">
    <div class="col-md-6">
      <h4 class="blog-post-title" style="font-weight:bold;">
        <a href="#" >{{ post.title}}</a>
      </h4>
    </div>
    <div class="col-md-6">
      <p class="text-right" style="margin-bottom:0px;">{{ post.timestamp }} </p></div>
  </div>
  <p>{{ post.body }}</p>
  <hr style="margin-bottom:2px;margin-top:1px;">
  
  <div class="row">
    <div class="col-md-6">
      <h4 class="blog-post-title" style="font-weight:bold;">
        <a href="#" >{{ post.title }}</a>
      </h4>
    </div>
    <div class="col-md-6" style="margin-bottom:0px;">
      <p class="text-right">{{ post.timestamp }} </p></div>
  </div>
  <p>{{ post.body }}</p>
  <hr>