<div class="row" style="
	background-color:white;
	box-shadow: 1px 1px 5px #ebeced;
    padding:20px;
    margin-bottom:20px;">
    <div class="row">
        <form class="form-inline" method="POST" action="{{ url_for('search_keyword') }}" style="margin:-8px 20px;">
        <div class="form-group" >
          <input type="text" name="keyword" class="form-control" placeholder="搜索该用户资源"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </form>
    </div>
</div>